 <!-- Loop over each object in the lotteries array -->
{{#each lotteries as |lottory| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/lottories/{{lottory.id}}">{{lottory.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <span class="dollar-amount">{{format_amount lottery.user_min_purchase }}</span>
      needed!
    </p>
    <p>
      <span for="img" aria-label="money">💲</span>
      <span class="dollar-amount">{{format_amount lottery.user_max_purchase }}</span>
      needed!
    </p>
  </div>
  <div class="col-md-7">
    <p>
      {{lottory.name}}
    </p>
  </div>
</div>
{{/each}}
