// refactor project view to be the lotteries view
<div class="text-center">
  <h2>Lottery: {{name}}</h2>
  <p>  Multiplier Name: {{multiplier_name}} </p>
  <p> Allow Multiplier: {{multiplier_allowed}} </p>
  <p>User Min Purchase: {{user_min_purchase}}</p>
  <p>User Max Purchase: {{user_max_purchase}} \n</p>
  <p>        Draws Mon: {{draws_mon}}</p>
  <p>        Draws Tue: {{draws_tue}}</p>
  <p>        Draws Wed: {{draws_wed}}</p>
  <p>        Draws Thu: {{draws_thu}}</p>
  <p>        Draws Fri: {{draws_fri}}</p>
  <p>        Draws Sat: {{draws_sat}}</p>
  <p>        Draws Sun: {{draws_sun}}</p>
  <p>
    <button class="btn btn-lotteries">Fund this Project!</button>
  </p>
</div>
